body{
    margin: 0;
    padding: 0;
}

.first {
    margin:20% 50%;
    font-size: large;
}



.circle{
    width: 10px;
    height: 10px;
    background-color: crimson;
    border-radius: 50%;
    margin-top:-301px;
    margin-left: 51.25%;
    animation-name: circleone;
    animation-duration: 0.3s;
    transform: scale(1.1);
    display: none;
    /* position: relative; */
}


.first:hover + .circle {
    display: block;

}
.first:hover {
    cursor:pointer;
    position: relative;
    /* transform: scale(1.5);
    transition: 0.3s; */
    color: crimson;
    animation-name: writings;
    animation-duration: 0.3s ;
    transform: scale(1.2);
    
}
@keyframes writings {
    from{transform: scale(1);}
    to {transform: scale(1.2);
    }
}

@keyframes circleone {
    from{transform: scale(0.5);}
    to{transform: scale(1.3);}


}





/* .circle {
    width: 96px;
    height: 96px;
    background: #eee;
    border-color: red;
    border-style: solid;
    border-radius: 100%;
    position: relative;
 } */